
**/.vscode/*
**/.idea/*
**/.venv/*
**/temp/*
**/__pycache__/*
**/logs/*
**/mypy_cache/*
**/bin/*
**/.omc/*
**/dist/*
**/.claude/*

.DS_Store
*.zip
*.sqlite3
.env
temp.py
*.drawio
*.png
*.jpg
*.pdf
*.gif
*.pem
*.key
**/.mcp.json
